/ZZ_NetbeansProjects/a_helloNepal/nbproject/private/
/ZZ_NetbeansProjects/a_helloNepal/build/
/ZZ_NetbeansProjects/A_HelloNepal/nbproject/private/
/ZZ_NetbeansProjects/B_LoginForm/nbproject/private/
/ZZ_NetbeansProjects/B_LoginForm/build/
/ZZ_NetbeansProjects/A_HelloWorld/nbproject/private/
/ZZ_NetbeansProjects/A_HelloWorld/build/
/ZZ_NetbeansProjects/c_hello_test/nbproject/private/
/ZZ_NetbeansProjects/c_hello_test/build/
/ZZ_NetbeansProjects/A_Hello_Nepal/nbproject/private/
/ZZ_NetbeansProjects/A_Hello_Nepal/build/
/ZZ_NetbeansProjects/B_Login_Form/nbproject/private/
/ZZ_NetbeansProjects/B_Login_Form/build/
/ZZ_NetbeansProjects/C_JDBC/nbproject/private/
/ZZ_NetbeansProjects/C_JDBC/build/
/ZZ_NetbeansProjects/C_JDBC/dist/
/ZZ_NetbeansProjects/C_SQL_JDBC/nbproject/private/
/ZZ_NetbeansProjects/C_SQL_JDBC/build/
/ZZ_NetbeansProjects/C_SQL_JDBC/dist/
/ZZ_NetbeansProjects/JavaApplication11/nbproject/private/
